*{
    margin: 0;
    padding: 0;
}
.nav{
    background-color: rgb(255, 255, 255);
    display: flex;
   width: 99%;
    padding: 0  5px;
    justify-content: space-between;
    align-items: center;
   border-bottom: 2px solid black;
     padding-bottom: 5px;
}
.d1{
    text-align: center;
     display: flex;
     gap: 30px;
    padding-right: 50px;
    
}

.d3{
    display: flex;
    text-align: center;
    gap: 10px;
    margin-left: 10px;
}
.d3>input{
     border-radius:50px ;
     padding: 5px;
     width: 200px;
}
.d3>img{
    border-radius:50px ;
   
}

.d2{
    text-align: center;
    display: flex;
     gap: 60px;
     padding-right: 130px;
}

.l1{
    transition: background-color 0.5s;
}
.l1:hover{
    background-color: blue;
}
.l2{
    transition: background-color 0.5s;
}
.l2:hover{
    background-color: blue;
}
.l3{
    transition: background-color 0.5s;
}
.l3:hover{
    background-color: blue;
}
.l4{
    transition: background-color 0.5s;
}
.l4:hover{
    background-color: blue;
}
.l5{
    transition: background-color 0.5s;
}
.l5:hover{
    background-color: blue;
}
.l6{
    transition: background-color 0.5s;
}
.l6:hover{
    background-color: blue;
}
.l7{
    transition: background-color 0.5s;
}
.l7:hover{
    background-color: blue;
}
.l8{
    transition: background-color 0.5s;
}
.l8:hover{
    background-color: blue;
}
.l9{
    transition: background-color 0.5s;
}
.l9:hover{
   background-color: blue;
}
h1{
    color: rgba(13, 3, 203, 0.905);
}
.s1{
 display: flex;
 background-color: rgb(79, 83, 87);

}
.s1>div{
    margin: 0 5px;
     border-radius:20px ;

}
.left{
  width: 26%;
  height:11100px;
  background-color: rgb(200, 200, 191);
  
}
.left>ul{
    justify-content: center;
    margin:20px 0 0 30px;

    
}
.left>ul>li{
    padding-bottom: 30px;
    list-style: none;
    display: flex;
    gap: 15px;
  
   
}
.left>ul>li>h{
     font-size:20px;
       color: rgb(30, 30, 204);
       

}

.center{
 width: 50%;
 height: 11100px;
 background-color: rgb(200, 200, 191);
 
}
.right{
  width: 25%;
  height: 11100px;
  background-color: rgb(200, 200, 191);
  
}


.right>.to{
     margin:20px 0 0 50px;
    
    
}
.right>.to>img{
   width: 40px;
   border-radius: 70%;
   margin-bottom: 10px;
   
}
.right>.to>h{
    color: rgb(30, 30, 204);
}
.right>.on{
    margin: 20px 0 0 150px;
    display: flex;
    gap: 5px;
}
.right>.on>h15{
    font-size: 25px;
}
.cl0{
    height: 40px;
    margin-top: 10px;
}
.cl0>h{
    margin-left: 40px;
    font-size: 20px ;
  
}
.cl0>h50{
    padding-left: 550px;
    color:rgb(30, 30, 204);
}

.cl1{
  
    width: 95%;
    height: 250px;
    display: flex;
    margin-left: 18px;
    border-radius: 5%;
}
.cl1>.w1{
     width: 18%;
     background-image: url(./الصور/download\ \(w1\).jpeg);
     margin-left: 15px;
      border-radius: 5%;
      background-size: cover;
      background-position: center center;
}
.cl1>.w1>img{
    width: 35px;
     border-radius: 50%;
     padding-left: 10px;
}
.cl1>.w1>.clw1{
   
    color: #fdf9f9;
    font-size: 20px;
}
.cl1>.w2{
     width: 18%;
     background-image: url(./الصور/download\ \(w5\).jpeg);
     margin-left: 10px;
     border-radius: 5%;
     background-size: cover;

}
.cl1>.w2>img{
   width: 35px;
   border-radius: 50%;
    padding-left: 10px;

}
.cl1>.w2>.clw2{
    margin-bottom: 100px;
    color: #fdf9f9;
    font-size: 20px;
}
.cl1>.w3{
     width: 18%;
     background-image: url(./الصور/images\ \(w2\).jpeg);
     margin-left: 10px;
     border-radius: 5%;
     background-size: cover;
     background-position: center center;
}
.cl1>.w3>img{
   width: 35px;
   border-radius: 50%;
    padding-left: 10px;

}
.cl1>.w3>.clw3{
    margin-bottom: 100px;
    color: #fdf9f9;
    font-size: 20px;
}
.cl1>.w4{
     width: 18%;
     background-image: url(./الصور/images\ \(w3\).jpeg);
     margin-left: 10px;
     border-radius: 5%;
     background-size: cover;
     background-position: center center;
}
.cl1>.w4>img{
   width: 35px;
   border-radius: 50%;
    padding-left: 10px;

}
.cl1>.w4>.clw4{
    margin-bottom: 100px;
    color: #fdf9f9;
    font-size: 20px;
}
.cl1>.w5{
     width: 18%;
     background-image: url(./الصور/images\ \(w4\).jpeg);
     margin-left: 10px;
     border-radius: 5%;
     background-size: cover;
     background-position: center center;
}
.cl1>.w5>img{
   width: 35px;
   border-radius: 50%;
    padding-left: 10px;
}
.cl1>.w5>.clw5{
    margin-bottom: 100px;
    color: #fdf9f9;
    font-size: 20px;
}
.cl2{
    width: 80%;
    height: 55px;
    background-color: rgb(249, 255, 255);
    margin-top:15px;
    margin-left: 70px;
    border-radius: 5%;
    display: flex;
    align-items: center;
    gap: 15px;

}
.cl2>img{
    width: 40px;
    padding-left: 20px;
    border-radius: 80%;
}
.cl2>table{
    background-color: rgb(200, 200, 191);
    width: 450px;
    height: 40px;
}
.cl3{
    margin-top: 10px;
    margin-left: 8px;
}
.cl4{
    margin-top: 10px;
     margin-left: 8px;
}
.cl5{
    margin-top: 10px;
     margin-left: 35px;
}
.cl6{
    margin-top: 10px;
     margin-left: 8px;
}
.cl7{
    margin-top: 10px;
     margin-left: 8px;
}
.cl8{
    margin-top: 10px;
     margin-left: 8px;
}
.cl9{
    margin-top: 10px;
     margin-left: 8px;
}
.cl10{
    margin-top: 10px;
     margin-left: 8px;
}
.cl11{
    margin-top: 10px;
     margin-left: 8px;
}
.cl12{
    margin-top: 10px;
     margin-left: 8px;
}
.comment{
    width: 96%;
    height: 40px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    margin-left: 15px;
   gap: 10px;
} 
.comment>div{
    margin-left: 90px;
}
.comment>div>a{
 transition: background-color 0.5s;
}
.comment>div>a>:hover{
    background-color: rgb(35, 35, 150);
}


   


